body {
  color: white;
  font-size: medium;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("cascade/bg1.jpg");
  background-attachment: scroll;
  background-size: cover;
}

nav {
  text-align: right;
  justify-content: space-between;
  color: white;
}

h1 {
  text-align: center;
  padding-top: 120px;
  justify-content: center;
  font-size: 350%;
}

div {
  text-align: center;
  justify-content: center;
}

.lien1 {
  background-color: red;
  color: white;
  margin-right: 20px;
  border-radius: 25px;
  width: 80px;
  height: 80px;
  border: 150px;
}

.lien2 {
  background-color: red;
  color: white;
  border-radius: 25px;
}

.home {
  margin-right: 25px;
  color: white;
}
.about {
  margin-right: 25px;
  color: white;
}
.services {
  margin-right: 25px;
  color: white;
}
.contact {
  margin-right: 25px;
  color: white;
}
.feedback {
  color: white;
}
img {
  margin-left: 50px;
  margin-top: 0px;
}
